.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item-list {
  list-style-position: inside;
  padding-left: 0;
}

.item-list li {
  cursor: pointer;
  margin: 8px 0;
}

.item-list li:hover {
  text-decoration: underline;
}

.item-details {
  margin-top: 20px;
}