.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.item-card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 220px;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
}

.item-list li:hover {
    background-color: #f2f2f2;
}

.item-details {
  margin: 30px auto;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.details-image {
  width: 100%;
  max-height: 3000px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item-card h3 {
  margin-bottom: 5px;
}

.item-card button {
  margin: 5px;
}

.item-image {
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.borrow-button {
  padding: 8px 14px;
  cursor: pointer;
  margin-top: 10px;
}